<div class="app-wrapper">
  <div class="container" *ngIf="!selectedVenue && !selectedProduct">
    <p>Think you know Australian Open? Think again.</p>

    <p>Watch, cheer and play your way through fourteen days of on and off court action and entertainment at Australian Open 2019.</p>
    
    <p class="mb-2">Catch the world's best tennis stars when they return to Melbourne Park, and enjoy all the live music, food and activities on offer around the grounds. There is something for everyone. Rethink your summer, and book your tickets now.</p>

    <h1 *ngIf="!bannerImage" class="col-4 blue text-center uppercase mt-2">SELECT YOUR AUSTRALIAN OPEN EXPERIENCE</h1>
    <img class="col-4 banner-image mt-2" src="{{bannerImage.url}}">
    <div class="row">
      <div class="col-3" *ngFor="let venue of eventList">
        <div class="p-1">
          <div *ngIf="venue.link && !venue.img" class="p-1">
            <a href="{{venue.link}}" class="toggle bg {{venue.btnClass}}">
              <div *ngIf="venue.hoverState" class="hoverState"><span class="hoverGetTickets">Get Tickets</span></div>
              <h2 class="title">{{venue.venueString}}</h2>
              <h2 class="text-muted">{{venue.dateString}}</h2>
            </a>
          </div>
          <div *ngIf="!venue.link && !venue.img" class="p-1" (click)="selectedVenue = venue; selectedProduct = null;">
            <div *ngIf="venue.hoverState" class="hoverState"><span class="hoverGetTickets">Get Tickets</span></div>
            <div class="toggle bg {{venue.btnClass}}">
              <h2 class="title">{{venue.venueString}}</h2>
              <h2 class="text-muted">{{venue.dateString}}</h2>
            </div>
          </div>
          <div *ngIf="venue.img && venue.link" class="p-1">
            <a class="toggle" href="{{venue.link}}">
              <div *ngIf="venue.hoverState" class="hoverState"><span class="hoverGetTickets">Get Tickets</span></div>
              <img src="{{venue.img}}">
            </a>
          </div>
          <div *ngIf="!venue.link && venue.img" class="p-1" (click)="selectedVenue = venue; selectedProduct = null;">
            <div *ngIf="venue.hoverState" class="hoverState"><span class="hoverGetTickets">Get Tickets</span></div>
            <div class="toggle">
              <img src="{{venue.img}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="selectedVenue && !selectedProduct">
    <h1 class="blue text-center uppercase">{{selectedVenue.venueString}}</h1>
    <p class="text-center">{{selectedVenue.venueDescription}}</p>
    <a class="blue text-center action mb-1" (click)="selectedVenue = null">back to all arenas</a>
    <div class="col-2 second-page" *ngFor="let product of selectedVenue.products">
      <div *ngIf="product.link && product.img" class="p-1">
        <div *ngIf="product.hoverState" class="hoverState"><span class="hoverGetTickets">Get Tickets</span></div>
        <a href="{{product.link}}" class="toggle">
          <img src="{{product.img}}">
        </a>
      </div>
      <div *ngIf="!product.link && product.img" class="p-1" (click)="selectedProduct = product">
        <div *ngIf="product.hoverState" class="hoverState"><span class="hoverGetTickets">Get Tickets</span></div>
        <div class="toggle">
          <img src="{{product.img}}">
        </div>
      </div>
      <div *ngIf="product.link && !product.img" class="p-1">
        <a href="{{product.link}}" class="toggle bg {{product.btnClass}}">
          <div *ngIf="product.hoverState" class="hoverState"><span class="hoverGetTickets">Get Tickets</span></div>
          <h2 class="title">{{product.title}}</h2>
          <h2 class="text-muted">{{product.dateString}}</h2>
        </a>
      </div>
      <div *ngIf="!product.link && !product.img" class="p-1" (click)="selectedProduct = product">
        <div *ngIf="product.hoverState" class="hoverState"><span class="hoverGetTickets">Get Tickets</span></div>
        <div class="toggle bg {{product.btnClass}}">
          <h2 class="title">{{product.title}}</h2>
          <h2 class="text-muted">{{product.dateString}}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-2" *ngIf="selectedProduct">
    <h1 class="blue text-center uppercase">{{selectedVenue.venueString}} - {{selectedProduct.title}}</h1>
    <p class="text-center">{{selectedVenue.venueDescription}}</p>
    <a class="blue text-center action mb-1" (click)="selectedProduct = null">back to all sessions</a>
    <div class="col-4 stripes" *ngFor="let event of selectedProduct.times">
      <div class="row-items p-1">
        <div class="item text-left">{{event.dateString}}</div>
        <div class="item text-left">{{event.description}}</div>
        <div class="item text-right"><a class="btn bg {{event.btnClass}}" href="{{event.btnLink}}">{{event.btnString}}</a></div>
      </div>
    </div>
  </div>
</div>