.col-1 {
    width: calc( 25% - 30px );
}

.col-2 {
    width: calc( 50% - 30px );
}

.col-3 {
    width: calc( 33.333% );
}

.col-4 {
    width: calc( 100%  );
}

.toggle {
    img { width: 100%; }
}

.p-1 {
    padding: 0 15px;
}

.p-2 {
    padding: 0 45px; 
}

.title {
    min-height: 60px;
}

.banner-image {
    margin-bottom: 15px;
}

.action {
    display: inherit;
    font-size: 14px;
    text-decoration: underline;
}
.row-items {
    line-height: 3rem;
    font-weight: 500;
}
.row-items .item {
    font-size: 16px;
    float: left;
    width: 33%;
}

.row {
    margin: 0 -15px;
}

.stripes:nth-child(even) {background: #eee}

.btn {
    padding: 7px 40px;
    font-size: 13px;
}

.toggle.bg {
    padding: 2px 4px;
}